 .filter {
    border: 1px solid grey;
    width:500px;
    }
    .line
    {
        width:400px;
    }
 /*.results .card
{
    height:200px;
width:300px;
}
.card img{
height:200px;
width:300px;
}  */