body {
    overflow-x: hidden; /* Hide scrollbars */
    
  }
.card
{
   width:410px;
   height: 260px;
   transition: transform 0.5s;
  
}
.card:hover
{
    transform: scale(1.1);
}
.card img
{
    width:410px;
    height:160px ;}
.card a
{
    text-decoration: none;
  
}